[2016-03-03 01:58] ettoolong opened #1 "Textarea Cache can't use in E10S mode"

[2017-02-21 12:19] streetwolf opened #2 "Textarea Cache Lite 1.0.3 doesn't work under Nightly Fx54"
Running on Windows 10 Pro 64 bit with Nightly 64 bit.  When clicking the TCL icon all that is produced is an arrow under the icon.  I've seen this before with another WebExtension add-on and it was cause by me setting the pref 'apz.allow_zooming'  to true.  The default is false.  However in this case the pref is false so it appears not to be the same cause.

[2017-02-22 15:17] wildskyf commented on #2
![tcl](https://cloud.githubusercontent.com/assets/6042803/23217671/0af43242-f955-11e6-9fe3-e9bd63e83309.png)

[2017-02-23 20:36] streetwolf commented on #2
If you can't test on a Windows 10 system we can use TeamViewer to let you on my system remotely to do some debugging.

[2017-02-24 00:54] wildskyf commented on #2
Oh, you are so nice!
Which timezone do you live in?

WS

2017年2月24日 04:36，"Gary" <notifications@github.com>寫道：

[2017-02-24 01:37] streetwolf commented on #2
UTC -5 east coast of USA.

Btw... the new version 1.1.0 doesn't show the icon at all.

[2017-02-24 02:40] wildskyf commented on #2
I have changed it from browserAction to pageAction, which allow it appear
when there is at least one textarea in current page. You could try it in
http://ettoolong.github.io/test/textarea.html , and tcl will appear at the
left position of reload icon(like attached file).

WS

​

<http://wildsky.cc>----------
Wildsky Fann
@wildskyf

On Fri, Feb 24, 2017 at 9:37 AM, Gary <notifications@github.com> w

[2017-02-24 02:42] wildskyf commented on #2
I have changed it from browserAction to pageAction, which allow it appear
when there is at least one textarea in current page. You could try it in
http://ettoolong.github.io/test/textarea.html , and tcl will appear at the
left position of reload icon(like image below).

WS

![2017-02-24 10 39 00](https://cloud.githubusercontent.com/assets/6042803/23288321/d798724e-fa7d-11e6-9e45-21cd98c1838b.png)

[2017-02-24 23:12] streetwolf commented on #2
1.1.2 now shows the contents of the cache.  Well done.  Are you going to try and make TCL more like TC?  I'm sure you know a few things are missing to make it a keeper.

[2017-02-25 04:41] wildskyf commented on #2
Of course.
I am currently trying to make TCL save data from WYSIWYG editor.

Hey, Gary, so TCL is working on your Firefox now, right? If it is so, let's close this issued? And open another issue for each feature request.

[2017-02-25 08:14] #2 closed

[2017-02-25 15:39] wildskyf opened #3 "TCL: support exception list"

[2017-02-27 12:43] wildskyf opened #4 "WYSIWYG is still not work"

[2017-02-27 20:24] Gitoffthelawn opened #5 "Difference between TextareaCache and TextareaCache Lite?"
Can you explain the difference between TextareaCache and TextareaCache Lite?

Might be useful info for the README and the AMO description too.

[2017-02-28 19:48] Offerel commented on #1
+1

[2017-02-28 19:50] Offerel commented on #5
Would be cool to have some explanation. thx

[2017-02-28 23:35] ettoolong commented on #5
The author of TC(Hemiola SUN) was stopped maintain it. TC is a legacy extension base-on XUL overlay that will stop support after Firefox 57 (the end of 2017).

[wildsky](https://github.com/wildskyf) carated an new add-on TCL to re-implement main features of TC. If the feature you need are not support yet, waitting for update. If all the features you need are already support by TCL, you can switch

[2017-02-28 23:37] ettoolong commented on #1
Stop maintain Textarea Cache.
Switch to Textarea Cache Lite.

[2017-02-28 23:37] #1 closed

[2017-03-01 04:03] Gitoffthelawn commented on #5
@ettoolong Thank you!

So this is a WebExtensions implementation of TC, correct?

If you would like me to write a good explanation for AMO for you to post, just ask, and I will be happy to do it for you.

[2017-03-01 22:25] ettoolong commented on #5
Yes, TCL is base-on WebExtension APIs.

[2017-03-03 13:27] #4 closed

[2017-03-03 13:27] #5 closed

[2017-03-10 13:46] wildskyf opened #6 "WYSIWYG is not work"

[2017-03-15 15:56] wildskyf opened #7 "See saved data in all domain"
From [addon page review](https://addons.mozilla.org/zh-TW/firefox/addon/textarea-cache-lite/reviews/849066/):

我個人偏向繼續使用 pageAction，然後 options 頁可以看到所有網域下的資料，畢竟應該不會時常需要查看所有網站的資料。

或是第二個方案：開個 option 讓使用者可以切換 pageAction or browserAction，但在做這件事之前應該要先實作切換網域的功能。

[2017-03-20 09:47] wildskyf opened #8 "textarea delay when input"
we should use setInterval

[2017-03-23 08:07] wildskyf commented on #8
updated!

[2017-03-23 08:07] #8 closed

[2017-03-23 08:08] wildskyf opened #9 "provide a input to decide the check point in options page"
default value should be 5s ?

[2017-04-29 23:08] Gitoffthelawn opened #10 "New data always overwrites previous data"
TACL v1.3.2, Firefox v53.0

Only saves the last text from the field, even though there is a drop-down within the extension's UI indicating that it should be storing previous entries as well.

IOW, when new text is entered, it overwrites the previously saved text.

[2017-05-01 14:14] revad opened #11 "URL-specific saving approach is too limiting"
(This applies to TextareaCache **Lite**. I'm not clear if this is the correct place.)

I see that it stores text is keyed in on the whole URL. This means that you cannot recover it if the URL is not identical - which includes query strings.

For example, I see that I have stored text for this URL:
http://mudcat.org/thread.cfm?threadid=161911&messages=18

But that '18' is just the number of message

[2017-05-02 04:46] wildskyf commented on #6
But it could work on Aurora

[2017-05-02 04:46] wildskyf commented on #6
so wait and see.

[2017-05-02 04:46] wildskyf commented on #7
use BrowserAction instead of PageAction

[2017-05-02 04:49] wildskyf commented on #10
Hi @Gitoffthelawn,

It is good to hear your report,
I will add this feature back. (Maybe on this weekend.)

[2017-05-02 04:58] wildskyf commented on #11
Hi, revad

Yeah This is the place to report bug, issue, enhancement about TCL.
Feel free to open any other issue about TCL or TC in this repo.

Got you. I will change the appear rule of TCL button, and think about how to change the label rule to save data in order to ensure users could access their data anywhere.

This could be a new issue, but I think Web Extension API is not ready to provide the

[2017-05-02 07:12] revad commented on #11
I think the two questions are related. Keying storage.local on the entire URL means there are many more keys. Using my mudcat.org example, if I post to the same thread 10 times there will be 10 keys. And the text can be very long. But if you key on mudcat.org then you could have a single record containing a pushdown stack of, say, max 10 entries. An individual user is not going to use thousands of

[2017-05-02 07:42] Gitoffthelawn commented on #10
Thanks!  I look forward to it! :)

[2017-05-07 17:53] wildskyf commented on #7
done in 2.0.1

[2017-05-07 17:53] #7 closed

[2017-05-07 17:54] wildskyf commented on #6
it is work in 2.0.1

[2017-05-07 17:54] #6 closed

[2017-05-07 18:01] wildskyf commented on #10
Hi @Gitoffthelawn

I have update textarea cache lite to 2.0.1,
It will save data using `Date + Document Title + serial` no in the pages as its key.

So if you save text today & yesterday, TCL will save both of them.
I will provide an option for users to decide the frequency. (now is one save one date)

If you test it and I does work for you, you could just close this issue. :)
And I will open anot

[2017-05-07 18:02] wildskyf opened #12 "provide an option for users to decide frequency to save"
Now is one save one date

[2017-05-07 18:02] wildskyf opened #13 "provide button for users to delete saved data"

[2017-05-07 18:11] wildskyf commented on #11
Hi @raved,

I have change the entry to a alway-showed button, so that you could access all data you saved. And also, I change the rule to identify data: `Date + Page Title + serial no in that page`. It is like the Textarea Cache so I think this rule is okay.

Feel free to provide any opinions & suggestions about this issue. And if the 2.0.1 update solved your problem, please close this issue. :) I

[2017-05-07 18:46] wildskyf opened #14 "empty string data should not be in database"

[2017-05-08 03:05] Gitoffthelawn commented on #10
Thanks. :-)

More than 1 per date will be important.

What is `serial`... is it random?

Did you move the icon out of the urlbar and into the toolbar in v2.0.1?

[2017-05-08 04:13] wildskyf commented on #10
The first textarea, the second textarea, ... etc. Isn't it called serial no? :P (idk how to call it)

yes, do you think using page action is better?
Or should it be an option for users?

[2017-05-08 05:54] Gitoffthelawn commented on #10
LOL.  WFM now that I know what you mean! :P

Or should it be an option for users?

I liked the page action more, but I think some might prefer a toolbar button... an option for users will be ideal.

BTW, not related to any of the above, you might want to check out Form Save at https://github.com/lutostag/webextension-formsave/  .   It is a similar extension with a nice UI.  The author is waiting f

[2017-05-08 07:37] wildskyf opened #15 "provide an option for users to choose pageAction or browserAction"

[2017-05-08 07:49] wildskyf commented on #10
Hi Gitoffthelawn,

okay, I will add an option in the future. (ref #15)

Thank you a lot!! That is a good reference for me. :)

[2017-05-08 13:33] revad commented on #11
That works better.

The list of saved texts can get quite long. Normally you'd want the last one saved. Is it possible to put them in reverse order, so the latest shows when you click the icon, oldest one at the bottom?

Even better would be to select the site (eg. mudcat.org), then have a secondary list of texts for that site appear for you select one. Each list latest item first. Future enhancem

[2017-05-09 05:22] Gitoffthelawn commented on #10
Thanks... and... you're welcome! :-)

[2017-05-18 15:23] Gitoffthelawn opened #16 "Delete not working correctly"
Version 2.2.0 is a huge improvement!  Thanks!

It is not deleting items correctly, however.  I deleted the storage file to start over, but delete is still having issues.  Deleting the last item is not possible.

Thanks again for the great extension... it's coming along nicely.

[2017-05-18 15:24] Gitoffthelawn opened #17 "Add a Delete All button"
Add a button to delete everything in TACL's storage.

[2017-05-18 16:55] wildskyf commented on #17
Cool, thank you for this suggestion!

[2017-05-18 17:01] wildskyf commented on #16
Thank you for your encouragement and bug report. :)
Users' reports means a lot to me. I will try my best to make this add-on better and better!

[2017-05-19 02:28] wildskyf opened #18 "autoclear after a few days or weeks in option page"
Thanks to Tim. This might be a good option for users.

[2017-05-19 05:56] Gitoffthelawn commented on #16
You're welcome... and thank YOU!

[2017-05-19 05:57] Gitoffthelawn commented on #17
You're welcome!

[2017-05-24 03:07] wildskyf commented on #17
It should work in the latest version!

[2017-05-24 03:07] #17 closed

[2017-05-24 03:08] wildskyf commented on #16
@Gitoffthelawn Is it work correctly now? If the answer is yes, we could close this issue. :)

[2017-05-24 03:09] #13 closed

[2017-05-24 05:45] Gitoffthelawn commented on #17
It works!  Thank you!

At first, I thought it would be best to place it to the right of the *Delete* button, but I've grown to like it where it is.

[2017-05-24 05:46] Gitoffthelawn commented on #16
It seems to be working.  I'll re-open if I notice any issues with the delete functionality.

[2017-05-28 16:37] Gitoffthelawn opened #19 "Date of all items is off by a month"
The date of all the entries is off by a month.  Hopefully an easy fix!

[2017-05-28 16:38] Gitoffthelawn commented on #18
I would like to see it autoclear at the end of every session, assuming the end-of-session was not caused by the browser crashing.

[2017-06-05 06:41] Gitoffthelawn commented on #19
@wildskyf Any thoughts on this?

[2017-06-07 18:24] xerces8 opened #20 "No icon in the navigate bar"
The description says "If there is any textarea or WYSIWYG editor in the website you are browsing, you would find that there is an icon at the left of reload icon in the navigate bar."

But there is no icon in my bar. The toolbar icon is present and it works. Just no icon in the navigation bar.

I have Firefox 53.0.3 on Windows 7 and Textarea Cache Lite 2.2.5

[2017-06-08 02:35] wildskyf commented on #20
Sorry about that. It is my mistake.
Icon in navigation bar is old feature, and I forgot to change it.
It will be back when I solve issue #15
But I got a little busy recently... So please wait for me.

[2017-06-08 02:36] wildskyf commented on #19
@Gitoffthelawn I don't get your point. :/

Can you provide some examples or more-detailed description?

Thank you for your patient... I am really busy recently...

[2017-06-08 05:21] Gitoffthelawn commented on #19
If today is 2017/06/08, and the extension saves an entry, it will save it with a date of 2017/5/8.

Every entry is off by exactly one month.

[2017-06-13 13:58] wildskyf commented on #19
Oh... I got you !!!
It is really a idiot mistake. Orz

It will be fixed in the next version. !!!

[2017-06-13 14:46] Gitoffthelawn commented on #19
LOL :)

[2017-06-13 15:02] wildskyf opened #21 "autoclear at the end of every session"

[2017-06-13 15:04] wildskyf commented on #18
@Gitoffthelawn I have opened #21 for it though I don't know is API okay to implement that feature.
Thank you. :)

[2017-06-13 17:35] wildskyf commented on #15
I found that webExtention can't hide browserAction button.

[2017-06-13 17:54] Gitoffthelawn commented on #21
Thank you!

[2017-06-13 17:54] Gitoffthelawn commented on #18
Thank you!

[2017-06-24 16:36] #14 closed

[2017-06-24 16:37] #19 closed

[2017-06-24 16:48] wildskyf commented on #20
sorry, I made a mistake in 2.2.7, which caused this bug is still there...
It will be fixed in 2.2.8.

[2017-06-26 18:11] rayman89 opened #22 "Preselect latest"
When you click on the icon the preselected entry is the oldest one. Shouldnt it be the latest one or at least have the option to set it to that?

[2017-06-26 18:12] rayman89 opened #23 "Firefox 55+ and checkboxes"
Firefox 55 does not show checkboxes for most webextensions this includes textarea cache lite.

[2017-06-26 18:48] wildskyf commented on #22
yeah, you're right.
It will be the latest one in the next version. :)

Thank you for your report!

[2017-06-26 18:50] wildskyf commented on #23
Could you please add more detail or add some screenshots for your report?

[2017-06-26 19:05] rayman89 commented on #23
When you go to the options of the addon if the addon has checkboxes there in firefox 55+ those checkboxes do not show up.

![imagen](https://user-images.githubusercontent.com/5449042/27555731-768a96ac-5a78-11e7-9cdf-ad14bdef26af.png)

[2017-06-28 02:45] wildskyf commented on #23
Got you, I will fix it before v55.0 releasing.
Thank you!

[2017-07-25 12:36] ayodio opened #24 "doesn't work if FF is on a screen with scale at 150%"
I run Win10 64 and have 3 monitors. One of them is set to 150% scale and textareaCache is acting up when the FF window is on this screen (flickering weirdly and not usable at all) .

If I move the FF window to a screen with the scale set at 100% then there is no problem.

[2017-08-02 06:10] Gitoffthelawn opened #25 "Use FILO instead of FIFO"
Show most recently cached data by default instead of least recently cached data.

[2017-08-05 03:45] wildskyf commented on #25
@Gitoffthelawn  thanks, it will happen at 2.3.0 :)

[2017-08-05 03:55] wildskyf commented on #23
hi @rayman89 ,

I just install ff v55.0b13 , and go to option page of TCL
The checkbox is there safe and sound. like this

![screenshot from 2017-08-05 11-52-55](https://user-images.githubusercontent.com/6042803/28992647-a6a4c97c-79d4-11e7-96eb-bd61471af071.png)

Could you confirm whether this problem still happen or not? if it is, please provide the OS version for me (Win7, macOS Sierra, ... etc)

[2017-08-05 03:59] wildskyf commented on #24
Hi, @ayodio
Could you please confirm this bug is for Textarea Cache or Textarea Cache Lite?

[2017-08-05 04:00] #20 closed

[2017-08-05 04:02] wildskyf commented on #25
I found this issue is duplicate with #22 , so let's move the progress tracking there. :)

[2017-08-05 04:02] #25 closed

[2017-08-05 04:03] wildskyf commented on #22
it will happen at 2.3.0

[2017-08-05 04:05] #15 closed

[2017-08-05 06:24] Gitoffthelawn commented on #25
Great!  Thanks!

[2017-08-05 15:44] rayman89 commented on #23
Checkboxes are showing now probably firefox fixed it.

[2017-08-05 15:44] #23 closed

[2017-08-05 20:17] bendover22 commented on #18
By the proposed, "autoclear after a few days or weeks in option page," do you mean autoclear (only) entries older than n days?

Another suggestion:  as of v2.3 there's still no way to select multiple entries *at once* in the drop list to delete them.
AFAIK, only one entry can be selected - to show in TACL's display, before you can delete it.

That's fine for 1 or 2 entries.  Very tedious for 10+,

[2017-08-05 22:10] bendover22 opened #26 "Drop list entries get truncated if TACL icon is on left end of toolbar"
My suggestion here may be somewhat related to issue [https://github.com/ettoolong/TextareaCache/issues/11](url) - but not exactly.

Would it be possible to show part or all of the URL or site name with each entry?
1) Maybe in a tooltip style, when hover entries that are truncated in the drop list?
2) Also, because some TACL drop list entries include (some) of the site's name.  Other entries don't

[2017-08-05 22:23] bendover22 opened #27 "Change tooltip label when hover TACL icon"
The TACL toolbar icon isn't very distinctive (most aren't).  When hovered, it just shows "Save your data."  Hovering or clicking the icon doesn't save anything.

When hovering it, a menu could pop up - like many addons & apps.
Or at least show the name, or "view TextArea Cache entries," or such.

[2017-08-09 07:37] ayodio commented on #24
Hi,

I'm using Textarea Cache Lite, so this is probably not the right place to report the issue.

[2017-08-28 23:54] Croydon opened #28 "Add a LICENSE.md file"
https://help.github.com/articles/adding-a-license-to-a-repository/

[2017-09-02 12:57] wildskyf commented on #24
Thank you for your reply, I will check that bug when I have time!

[2017-09-02 21:58] bendover22 opened #29 "TACL doesn't save many sites if 3rd party trackers are blocked"
In Fx 55.0.2, suddenly TACL 2.3 stopped saving any new entries.  Had worked fine for several Fx 54 & 55 versions.  Thought, maybe the file's too big (but didn't seem so).  Manually deleted older entries from textareacache.json & saved.

I can create a clean profile & try it, but in this profile (few wks old), TACL worked great, then not at all,  back to working "some" and finally not at all.
UPDAT

[2017-09-04 14:00] lilydjwg opened #30 "Submitted data aren't saved?"
I lost my data. It took me a long time to write. I submitted to the site but it wasn't saved. I assumed that the site sucked again and wanted to retry. But I couldn't find my text in this web extensions version of textarea cache.

I see no reason for textarea cache to not save submitted data, because some websites suck, and extensions are there to rescue. At least, this extension is here to fix we

[2017-09-16 12:55] #22 closed

[2017-09-16 13:01] wildskyf commented on #27
Good Suggestion! I will change it in the next version. :)
Thank you!

[2017-09-16 13:07] #28 closed

[2017-09-16 13:19] wildskyf opened #31 "UI broken when empty status"
When there is no data, it should show 'There is no cache here!'.
But now it shows a no-child drop-down selector.

[2017-09-16 13:21] wildskyf commented on #30
@lilydjwg Hi, could you provide the website url you lost data? So that I could debug easier. :)

[2017-09-16 14:34] lilydjwg commented on #30
No, unless you want to offer your phone number to a Chinese website and try to learn some Chinese. And it's not easily reproducible. I suspect that the server returned a 500 error to that Ajax data submission.

I prefer this extension works like the XUL one: no matter what, keep inputted text for some time, so even a site swallows the data (like to return a 200 page saying that there is an error),

[2017-09-16 15:21] wildskyf commented on #26
Hi @bendover22 ,

I have make some change in ba390de.
Here is the preview of it:
![21844038_1923759307639289_1243433519_o](https://user-images.githubusercontent.com/6042803/30513422-73dee6a8-9b35-11e7-9513-a4b4fdb060ca.jpg)

you could see the whole url titile when you hover on items in drop-down selector. ( yeah tooltips :D )

btw, I also hide the serial number in the end of website title. I think

[2017-09-16 15:59] wildskyf commented on #11
Hi @revad ,

I have reverse the order, make the latest shows when you click the icon, oldest one at the bottom.

And I just add another feature, which let you see the whole title in the selector, you could get more information in #26.

Feel free to open another issue. :)

[2017-09-16 15:59] #11 closed

[2017-09-16 16:41] wildskyf commented on #30
@lilydjwg I am from Taiwan, so reading Chinese is not a problem to me. ;P

Get down to business, Textarea Cache Lite will overwrite data only when you type something new to THE textarea you just submitted. So if you didn't touch the textarea, your saved data should be safe, but you should make sure your text is saved first. Could you please help me to check whether your text could be saved?

[2017-09-17 03:58] lilydjwg commented on #30
OK then. Try to post a long comment to a 知乎 answer and see if it'll get lost.

It's weird then. I have lots of text in that comment so Textarea Cache Lite should have time to save it. BTW it's not a textares.

There seem to be some bugs. I've done some tests, only paste/type, not submit.

* comment via the popup: saves correctly
* reply to a comment via the popup: saves empty text
* comment via th

[2017-09-23 00:46] #31 closed

[2017-09-23 00:47] #27 closed

[2017-09-23 00:48] #26 closed

[2017-09-28 21:44] revad opened #32 "Will not install on Android Fx55"
Claims to work with Fx Android (v2.3.3). Will not install in Fx 55 Android. No messages.

[2017-10-01 08:34] wildskyf commented on #32
Hi @revad
This add-on is not compatible with Firefox for Android now.

[2017-10-01 08:34] #32 closed

[2017-10-01 09:00] revad commented on #32
Then you need to change compatibility data on AMO. It says:
"Released September 16, 2017 19.8 KiB Works with Firefox for Android 51.0 - *, Firefox 51.0 and later "

BTW: an Android version is more required than a desktop version.

[2017-10-02 05:26] ceribik commented on #10
I will provide an option for users to decide the frequency. (now is one save one date)

Isn't that kind of pointless? I ran into this quirk today after writing a long post. I accidentally went to another page, and the form was reset to blank. However, because I pressed a key it overwrote the saved text in your addon.

The current fix won't solve this issue. With lazarus form recovery (pre-webexten

[2017-10-02 05:28] ceribik opened #33 "add some feature into right click textareas"
It would be nice to be able to right click textareas and show a list of clickable saves of that text area.

See:
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/user_interface/Context_menu_items
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/menus/create
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/menus/ContextType

[2017-10-15 09:31] mcaustinsr opened #34 "Care2"
I tried this on Care2 with no joy.  I was testing the add-on.  I opened a new post, typed 2 sentences and then closed the tab.  I then opened a new tab, logged back in and went back into the group to answer the post I tried to answer before.  I opened a new post and clicked the TextArea icon.  It was empty.

My main reason for needing this add-on, about 99.9%, is for work on Care2.  Since Lazarus

[2017-10-22 04:15] bendover22 opened #35 "Not saving text fields on certain sites"
It doesn't happen often, but again tonight I was logged into an account at Capital One Banking site https://www.capitalone.com/.
Viewing a monthly statement online, there are '+' signs beside each entry.  If clicked, brings up a text box to choose a subject (from a list), then a regular text box.  No WYSIWYG or any formatting  - plain text.

If there's anything you want me to check on the Cap One

[2017-10-25 02:10] wildskyf commented on #34
ok, I will fix it in the next version.
Please be patient, thank you. :)

[2017-10-25 21:59] majutsushi opened #36 "Huge slowdown in Slack"
Hi,

we're using [Slack](https://slack.com) for internal chats in our company. However, I noticed that the text input gets increasingly slower the more text is in the input field. After typing a few words each new character takes several seconds to actually appear, during which Firefox uses a lot of CPU. Disabling TextareaCache Lite immediately fixes the issue.

In case it is relevant, this is how

[2017-10-31 19:15] streetwolf opened #37 "Icon displaying in Navigation bar for all sites."
I am running the latest Fx58 inbound release.  I don't know if this is happening on Nightly yet.  I do have the pref to show the icon on the Nav bar disabled.  Whatever patch is causing this probably landed in the past couple of hours.  If it is a bad patch it might get backed out.  It could also be intentional.  I'll keep an eye on it as I routinely install the current inbound.

[2017-11-01 11:34] kparal commented on #36
I can reproduce the same problem even here in the github comment area. When I have TCL enabled and I mash they keyboard keys quickly, the CPU utilization goes 100% and characters start appearing with a big delay, 10 seconds and more. When I disable TCL, CPU utilization is 20% and characters appear immediately.

It seems that TCL is saving the window contents after every character change, or someth

[2017-11-03 09:06] wildskyf commented on #36
Hi @kparal & @majutsushi,
thanks for your report, could you confirm the version of your TCL?

The latest version is v2.5.0, you could find the info at about:addons

like this:

![2017-11-03 17-05-59](https://user-images.githubusercontent.com/6042803/32366495-49d16986-c0b9-11e7-8c08-a5c3ffbc4210.png)

[2017-11-03 09:28] wildskyf commented on #34
@mcaustinsr
Could you please check whether you have the latest version of textarea cache, and then try again?

[2017-11-03 09:31] wildskyf commented on #29
Hi @bendover22,

Has it still happened in the latest version of Textarea Cache (v2.5.0)?

[2017-11-03 09:45] kparal commented on #36
TCL 2.5.0 as well. Firefox 57, Fedora 27

[2017-11-03 09:46] wildskyf commented on #36
@kparal Do you have lots of cache in your textarea cache?

[2017-11-03 10:03] #9 closed

[2017-11-03 11:32] kparal commented on #36
I had about 960 items in the drop down list. After clearing all cache, text input is no longer slowed down. I think TCL should be smarter when working with a large cache (don't save after each character, perhaps, and do it in a different thread if possible) and also auto-clean old cache automatically.

Anyway, thanks for helping me resolve this on my end (at least temporarily).

[2017-11-04 07:00] wildskyf commented on #36
@kparal  you're welcome, and I will fix this problem in the near future version.

[2017-11-04 07:35] wildskyf commented on #30
嗨，依雲，

想麻煩你確認一下，現在最新版本的 Textarea Cache 是否還會在送出後把 cache 覆蓋掉

[2017-11-04 14:06] wildskyf commented on #10
Hi @Gitoffthelawn @ceribik,

I have changed the timing of saving new data, which won't be overwritten by previous data, from date to session, which means you will start another cache every time you open a website.

I think it is more useful than the origin rule.

[2017-11-04 14:07] #12 closed

[2017-11-05 23:22] majutsushi commented on #36
My list of items in the dropdown list was significantly shorter, but clearing all caches still made the slowdown go away. So I guess I'll do that occasionally for now if I notice the slowdown coming back again.

[2017-11-06 02:02] bendover22 commented on #29
Yes and no.  It seemed to start saving a couple of sites (I regularly visit) that it didn't before.
I assume could be due to changes in v2.5.0, or not.

Other sites still have problems.  Not sure if some sites now having problems in v2.5 also did in the previous version.
On this Github page, as of the last sentence, "...previous version," it wasn't saving anything.
There's not (wasn't) an entry in

[2017-11-06 08:31] wildskyf commented on #36
@majutsushi
sorry about the slowdown, I will find a solution to fix it soon.

[2017-11-06 08:51] wildskyf opened #38 "Providing a link for users to report"
Sometimes there are some problems causing cache saving fails.

Developers usually need some information for debugging, I think providing a link which could send data to developers would help develop this add-on smoothly.

[2017-11-06 10:30] wildskyf opened #39 "Note work at google forum"
* System OS: Fedora 26
* Firefox version: Firefox 57.0b14
* TCL version: 2.10.3

The input box is nether `textarea` nor `[contentEditable]`, so TC does not listen to its event.

[2017-11-06 15:07] #39 closed

[2017-11-06 18:14] wildskyf commented on #39
it seems that the latest fix could work only at firefox57...

[2017-11-07 04:22] bendover22 commented on #29
On the uBlock Origin forum at https://discourse.mozilla.org/t/support-ublock-origin
TACL didn't save any text.  All trackers or blocking was turned off in NoScript & uBo.  Otherwise, the site wouldn't show a "Login with Email" button.  That's a strange site.
Just trying to give some sites that don't work - if you can spot similarities.

[2017-11-09 19:38] rayman89 opened #40 "Icon on locationbar"
Whatis the icon supposed to do? Clicking on it does nothing ofr me and right clicking only shows the option to take it off.

[2017-11-13 09:53] FelixSchwarz opened #41 "TextareaCache breaks Trello editing"
* Fedora 26
* Firefox 57.0 (Release)
* TCL 2.11.1

Since a few days/weeks I can not use Trello anymore when TCL is enabled.

How to reproduce:
- use any board at https://trello.com/ (you can create your own boards for free)
- add a card to any list (enter a title)
- double click on that card to edit description or anything else

-> nothing happens (should see an edit interface), JS errors in the c

[2017-11-13 12:36] borama commented on #41
Same problem here, tracked it down to TextareaCache extension. Had to disable it for now.

The problem seems to be related with an attempt to access some information without permission, possibly via an iframe.

Error messages from the JS console:

[code]

Firefox provides a link to [this page](https://developer.mozilla.org/cs/docs/Web/JavaScript/Reference/Errors/Property_access_denied) for more in

[2017-11-15 10:53] mhartung opened #42 "Migration to Firefox WebExtensions addon-style needed"
Hi,
since I love Firefox as well as your extension, I am eager to know if you plan to migrate this addon to the WebExtensions style for keeping it working in FF 57.
Do you have such plans or will the Textarea-Cache be abandoned?

https://developer.mozilla.org/en-US/Add-ons/WebExtensions
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on

[2017-11-15 15:05] lilydjwg commented on #30
Hi，使用刚刚更新过的 Textarea Cache：

* ✔ comment via the popup: saved correctly
* ✖ reply to a comment via the popup: not saved
* ✔ comment via the dropdown of answers: saved correctly

PS: 更新过没重启。是有一些日子的 Firefox Nightly。

[2017-11-15 15:16] wildskyf commented on #30
感謝幫測試 & 謝謝你的描述如此清晰。 :)

是故意&預期內的行為，每次重開頁面就會開新的 cache 來存文字

好，這也是個 bug，我有想到但還沒時間解，或許這個週末會來動手更新

是指斷開 VPN 嗎？目前程式是在一開始會放 css class 到要看的 textarea 上 (和其他要看的元素上)，之後看 css class 有沒有被 focus，所以 VPN 應該不會影響才是

讓提交後不會消失的方法是看他回給 background script 的資料移除 html tag 後的 length 是不是 0，是的話就忽略他不儲存

[2017-11-15 15:19] wildskyf commented on #35
Hi @bendover22,

Could you test it again and make sure this problem still happen? By the way, please provide the version of your Textarea Cache and the OS you use so that I could debug easier. :)

[2017-11-15 15:20] wildskyf commented on #41
Got you, I will check it this weekend.
Thank you for reporting.

[2017-11-15 15:24] wildskyf commented on #42
Hi, @mhartung,
this add-on is Web Extension, so it is compatible with firefox57.

Make sure you are using the right add-on: https://addons.mozilla.org/en-US/firefox/addon/textarea-cache/
There is an old version Textarea Cache, but I create another add-on page (because of some reasons...)
Remove the legacy one and install this version, and you could use Textarea Cache in your Firefox 57. :)

[2017-11-15 15:59] lilydjwg commented on #30
不是 VPN，就是个本地 HTTP 代理，为了避免把测试文本提交出去。

[2017-11-15 16:22] mhartung commented on #42
Thank you. Indeed, I still had the old one in version 0.9.3.4 installed which has the exact same name. I will close the issue, keep up your good work.

[2017-11-15 16:22] #42 closed

[2017-11-16 06:03] bendover22 commented on #35
I commented under this issue https://github.com/wildskyf/TextareaCache/issues/29,
it shows "9 days ago."  TACL was updated on Nov 7, so I'm not sure if that was just before or after I updated to 2.11.1?

The issue listed above & this one may be basically the same.  A few minutes ago, I commented on a different Github project.  TACL didn't save any of that.
When I started typing on this reply (here

[2017-11-16 15:19] wildskyf opened #43 "Current TC only watch textareas which are not created after document.ready"

[2017-11-16 18:13] wildskyf commented on #40
Doesn't it pop up a list for you? If it didn't show, there might be some bugs... Let's me check it.

It should do what browser_action button could do, which is pop up a panel listing all your cache.

you could turn it off at the options page of the Textarea Cache.

[2017-11-16 18:46] wildskyf commented on #3
![2017-11-17 02-46-06](https://user-images.githubusercontent.com/6042803/32909367-7daa87aa-cb41-11e7-9aa3-18e1cfeb66b6.png)

[2017-11-16 18:46] #3 closed

[2017-11-16 18:51] wildskyf commented on #41
Hi, I can't reproduce this problem in my firefox57@fedora26... Could you please open another profile and test it? Just `firefox -P` in your gnome-terminal.

by the way, #3 is finished, so you could add trello.com into your exception list, but please help me to find the problem first 😺, thank you!!

[2017-11-16 18:53] wildskyf commented on #43
it will check whether there is any text content without '.ta-textContent' tag every two seconds.
Hope it will not cause too terrible performance problem...

[2017-11-16 18:53] #43 closed

[2017-11-16 20:18] borama commented on #41
Hi @FelixSchwarz ,

it indeed seems to be quite hard to reproduce. I created a new profile in Firefox 57, installed the addon, registered a blank new account in Trello and everything worked very well at first.

I played around with cards, columns and boards and it still worked.

The only time I was able to reproduce the bad behavior was when I created a new team and assigned the board to the team

[2017-11-16 22:27] bendover22 commented on #35
I tried again today - before & after updating TACL to 2.13.0.
What seems to happen is, on the initial visit to a site - that day, if remote fonts are being blocked by uBo, then TACL often doesn't save anything - UNTIL I disable ***per site*** blocking of remote fonts in uBo's UI.
"Most" of the time, once I disable remote font blocking for a  site, TACL starts saving.
But that process isn't reversi

[2017-11-17 02:01] wildskyf commented on #41
thx @borama!
your information is very detailed, I will try it again when I have time! thank you!!

[2017-11-17 04:09] wildskyf commented on #35
Hi @bendover22,

That's my fault, I added `last_modified` attr into db, and sort by it. But I forgot there is some data without `last_modified`, so ... that's the problem. I have submitted a new version 2.13.1. Thank you for your report!!

and... the blocked font problem is weird, it should not work like that. Could you help me do some things?

1. Go to option page of Textarea Cache
2. open Web Co

[2017-11-17 04:44] wildskyf opened #44 "Sort by Date in popup is wrong"

[2017-11-17 15:58] rayman89 commented on #40
Previously it always stayed greyed out for me this update made it work on some pages and not appear on the rest. For example on this exact page this is how it shows.

![imagen](https://user-images.githubusercontent.com/5449042/32956162-f214bb4c-cbaf-11e7-9960-72c62c65a7c4.png)

but on this page with no text at all it shows and functions when clicked

![imagen](https://user-images.githubusercontent

[2017-11-18 02:13] bendover22 commented on #35
Can you explain what you're looking for - what I should be copying from the consoles?
Don't the browser & web console need to be running before starting an addon or loading pages, etc?
Also, what's TACL's debug mode?

FYI - I tried out the web ext Form History Control, but I couldn't get it to save anything, with remote fonts blocked or not.  Maybe the dev can shed some light what's happening & ma

[2017-11-18 13:15] wildskyf commented on #10
ok, I think current status is good, so let's close this issue!

[2017-11-18 13:15] #10 closed

[2017-11-18 13:19] wildskyf commented on #24
Hi @ayodio,

Sorry for my huge delay response...
Does this problem still happen in the latest version, v 2.13.2?

[2017-11-18 13:23] wildskyf commented on #44
Finally fixed @ v2.13.2.

[2017-11-18 13:40] wildskyf commented on #40
In the current version, it supposed to appear on pages in which there is some textarea.
But in fact, some pages will use invisible elements to something, and somehow it will match my saving rules. So you would see it appear on pages in which there is no text content to save. It won't be fixed, but it is not a big deal in my opinion.

By the way, do you think appearing on every page is better?

[2017-11-18 13:47] wildskyf commented on #36
In the current version, I add slack.com into the default exception list. (and some sites in which there are some problems. performance, function-breaking, ...etc )

If you want it back, go to preference page of textarea cache and remove slack.com from the list.

[2017-11-18 13:53] wildskyf commented on #37
Hi @streetwolf,

the problem is you want it to hide, but it still appears, right?
If yes, I will check my code and see whether there is any problem.

Or your issue is 'want an option to show icon on all sites'?
If yes, I will add it to the options page for you. :)

[2017-11-18 14:50] wildskyf commented on #35
What I want to know is whether there is any error cause js stop execute.

debug mode is here:

![option list](https://user-images.githubusercontent.com/6042803/32981600-9b214c48-ccb2-11e7-8549-f5b3e3f242e7.png)
![textarea cache in about:addons](https://user-images.githubusercontent.com/6042803/32981601-9b4d3718-ccb2-11e7-9e86-b4250fb8db15.png)
![options of textarea cache](https://user-images.githu

[2017-11-18 14:53] wildskyf commented on #35
by the way, I think this issue is duplicate with #29, so let's discuss there.

[2017-11-18 14:53] #35 closed

[2017-11-18 15:03] wildskyf commented on #34
ping @mcaustinsr again

[2017-11-18 15:17] wildskyf commented on #30
了解，不過這應該不影響 add-on 的行為 XD

方便請你協助我確認這個問題解決了嗎？

[2017-11-18 15:20] wildskyf commented on #29
So now, we know if a website is remote-font-blocked when user visite site first time, textarea cache saving will fail.
If you enable remote font, saving will work even if you disable it again.

[2017-11-18 15:24] wildskyf opened #45 "improve the cache list UI"
as @bendover22 said:

[2017-11-18 15:26] wildskyf commented on #18
@bendover22, I have added a new issue #45, and add your comment there.
Thanks for your suggestions!

[2017-11-18 16:56] Gitoffthelawn commented on #45
I would like to see an option to clear the textarea cache when the browser is closed (assuming it didn't close due to a crash).  That way, the list never gets too long.  I don't think I've ever needed to recover text from a previous browser session.

[2017-11-18 16:58] wildskyf commented on #45
@Gitoffthelawn yes, that is the #21 😉

[2017-11-18 18:35] Gitoffthelawn commented on #45
Doh!  Forgot about that issue!

[2017-11-19 15:13] rayman89 commented on #40
I do think appearing in every page is better because like my screenshot shows it's not appearing in github  where it's needed but it's appearing on a page that only has a video player so to avoid detection problems and have consistency I think it might be better to just appear on every page.

[2017-11-20 05:01] wildskyf commented on #40
ok, I will change it to appear at every page in the next version.

[2017-11-20 05:33] wildskyf commented on #40
It will show on ever page after v2.14.0 now. :)

[2017-11-20 05:33] #40 closed

[2017-11-20 06:31] wildskyf commented on #37
page action will show on every page after v2.14.0
and it will hide if you cancel the checkbox in options page
so let's close this issue, if you still have any question, feel free to reopen it. :)

[2017-11-20 06:31] #37 closed

[2017-11-20 09:47] wildskyf commented on #45
Here is the struct of the list of new UI

Features:
- click `checkbox` in the title field allow you to select all items
- click attr titles (`URL`, `summary`, `date`) will sort items by that attr
- click URL in each item will open that URL
- click summary or date in each item will open the page in which there are the old UI (or maybe better)
- you can filter the result by using the search bar
- th

[2017-11-20 09:50] wildskyf commented on #44
wrong again....

[2017-11-20 17:39] Gitoffthelawn commented on #45
Maybe for the date, remove the timezone.

[2017-11-20 17:43] wildskyf commented on #45
yeah, I will use local string for it
it will be released tomorrow

I want it could be released today, but i found some bugs, so immediately
disable the v3.0.0... I will try to fix those bugs when tomorrow I wake up

2017年11月21日 01:39，"Gitoffthelawn" <notifications@github.com>寫道：

[2017-11-21 06:59] drcheap opened #46 "New UI renders the add-on totally useless"
* System OS: Windows 7
* Firefox version: Firefox 57.0
* TCL version: ?

Steps to reproduce:
* Click toolbar icon, view listing, click show button...nothing happens

(this is after clicking show)
![image](https://user-images.githubusercontent.com/10265909/33058704-7d3066a6-ce56-11e7-9998-c40817c2a914.png)

I did see in v3.0.1 that there is supposed to be another section at the bottom with the full

[2017-11-21 07:15] wildskyf commented on #46
Sorry about that, there are some bugs, and I am going to fix it today.
btw, The latest version is v3.0.5 (but there are still some bugs... Orz

Thank you for your love! I will make this add-on better and better!!!

[2017-11-21 08:05] wildskyf commented on #46
@drcheap It should work now, try v3.1.0 [here](https://addons.mozilla.org/en-US/firefox/addon/textarea-cache/)!

[2017-11-21 09:58] drcheap commented on #46
Awesome!  Love the new column sizing & more importantly the functioning show & copy buttons.

Summary text still truncated after a few words, but not a showstopper (you are probably still working on that).

[2017-11-21 20:50] dequis opened #47 "Recent versions make firefox use 10x ram and hang after restoring session"
Required:
* System OS: Arch Linux
* Firefox version: Firefox 52.5.0
* TCL version: 3.1.0 and 2.14.0 (last known good: 2.5.0)

Optional:
* Steps to reproduce:
    * Install [session manager addon](https://addons.mozilla.org/en-US/firefox/addon/session-manager/)
    * Open a few hundred tabs (i have ~700 here)
    * Save
    * Restart
    * Restore session

And you get massive ram usage (i have 24gb

[2017-11-21 23:15] rayman89 opened #48 "GUI"
I noticed the new GUI change which is great but reduces the dynamicity the other GUI had so I was wondering if it would be possible to keep for the URL icon the old GUI to be able to quickly get what you want and make the button show the more detailed GUI.

[2017-11-21 23:23] dequis commented on #47
Spent a while testing versions in the middle, last good 2.13.2, first bad 2.14.0

https://github.com/wildskyf/TextareaCache/commit/180fe0ef2dd2aed50557b87a28b64168d16242b7 ?

[2017-11-22 04:37] wildskyf commented on #47
@dequis thanks for your report, I will check it later.

[2017-11-22 04:40] wildskyf commented on #48
what do you mean dynamicity?
Does it mean you want to see the latest cache as long as you open the list?
If so, I could implement it for you. :)

---

Or maybe we could provide two version of UI for users, and users could select it in the options page of add-on?

[2017-11-22 04:54] rayman89 commented on #48
Yes a quick popup like before which shows you the latest cache first. Opening a window having to wait for it to load then clicking on show and only then being able to copy the desired text takes too much time compared with before so if we have available two buttons and one is an icon that is easy at hand I figure that icon on the url bar should offer a quicker alternative to the full featured wind

[2017-11-22 07:18] wildskyf opened #49 "Reduce storage access times"
by saving it to background_script object

- read it once, and save it to object
- for read-only accessing, just read object instead of accessing storage
- update object when data modified

[2017-11-22 07:30] wildskyf opened #50 "clearing cache causes setting lost"

[2017-11-22 07:37] wildskyf commented on #34
I think it works now if you still have any problem, feel free to reopen this issue.

[2017-11-22 07:37] #34 closed

[2017-11-22 07:38] wildskyf commented on #30
ping @lilydjwg

[2017-11-22 07:51] wildskyf commented on #47
Hi @dequis,
Could you please help me to check whether this problem got solved?
The latest version is v3.3.0

[2017-11-22 07:55] #50 closed

[2017-11-22 08:01] wildskyf commented on #46
haha, I will keep tunning it, but I still think about the situation that user might also save Chinese words, which means it might break the layout if truncated after too more words...

but anyway, let's close this issue now, feel free to reopen if you still have any problem :)

[2017-11-22 08:01] #46 closed

[2017-11-22 08:11] wildskyf opened #51 "Cursor disappear"
Sometimes this add-on would make text cursor in textarea disappear, don't know how to solve it…

[2017-11-22 08:24] lilydjwg commented on #30
在知乎弹出评论里回复时，还是什么都没保存到。

PS: 改成弹出窗口了呀，不过那个窗口怎么在失去焦点的时候就关掉了呢（我更喜欢在新标签页打开，然后别跑）。另外在 summary 里显示 HTML 代码了，`<div class="…` 这样子显示没什么用啊。

[2017-11-22 08:34] wildskyf commented on #30
奇怪了，那我再看一下要怎麼解這個問題好了…

我有在思考在新標籤頁打開的可能性，或許會加個 option 讓你可以選擇要哪個

summary 是簡單地顯示裡面的東西而已，主要還是要按 show 才知道完整的資訊，我會再試試把裡面的自顯示得多一點會不會有什麼問題

[2017-11-22 08:41] #45 closed

[2017-11-22 09:12] wildskyf opened #52 "Adjust Options"
new:

- show icon at url bar [ ]
  - using lite list [ ]
- popup what to show list
  - window ( )
  - tab ( )
- exception list
[code]

remove:
- debug mode

[2017-11-22 09:14] wildskyf commented on #48
I will implement at the v3.4.0 :)
Thanks for your suggestion.

[2017-11-22 09:17] wildskyf commented on #30
ref: #52

[2017-11-22 09:20] lilydjwg commented on #30
知乎那个回复框是动态生成的，大概跟这个有关？

加 option 好麻烦的。主要是这个弹窗我一不小心焦点移出去它就自己关掉了。

你可以在 summary 里把 HTML 标签去掉只留文字。

[2017-11-22 09:25] wildskyf commented on #30
我現在有每兩秒就看一下有沒有新的 textContent 生成，所以就算是動態生成的應該也抓得到才是，除非我犯了某個 reference 的錯誤（等等去 check）

因為使用者各有偏愛，所以我還是會做成選項

預設是彈出 tab 頁
但也能改成彈出 window，（跟以前的 textarea cache 一樣）
auto-close 變成可選的選項，預設是不勾選

summary 那個這麼說似乎比較好，我會開個 issue，一樣在下一個版本會更新上去

[2017-11-22 09:27] wildskyf opened #53 "remove html tag from summary"
Thanks to @lilydjwg @ #30

[2017-11-22 14:07] dequis commented on #47
Yep, that looks way better, thanks for the quick fix!

[2017-11-22 14:56] wildskyf commented on #47
If you found other performance issues, feel free to tell me or even how to fix it. :)

[2017-11-22 14:56] #47 closed

[2017-11-22 18:54] puxlit commented on #41
We're experiencing a similar incompatibility between Textarea Cache and New XKit; see new-xkit/XKit#1476.

AFACT, it boils down to Textarea Cache assigning handlers to `onfocus`/`onblur` (for the input elements in which it is interested), which renders these properties inaccessible to other JS contexts. The typical pattern used to determine whether these handlers are assigned is `handler && handle

[2017-11-27 09:10] mhartung opened #54 "TextareaCache breaks Redmine quoting-feature"
Required:
* System OS: macOS 10.12.6
* Firefox version: 57 Quantum
* Addon-version: 3.3.0

Optional:
* Create or open an existing redmine (redmine.org) ticket.
* Click on quote, to reply by quoting a user.

Expected:
* The comment text from the user you decided to quote will be shown in your reply.
"> Lorem ipsum dolor sit amet"

Reality:
* The reply field stays empty. But a js-error will be throw

[2017-11-30 15:30] rayman89 opened #55 "URl bar icon again"
Seems that the icon is not appearing and showing as disabled on the "..." menu on some sites like mail.com and facebook among others.

[2017-12-03 07:52] wildskyf commented on #55
Thanks for your report, it will be fixed in the next version. :)

[2017-12-03 10:31] wildskyf commented on #36
info for debugging:
[code]

[2017-12-03 10:34] wildskyf commented on #55
ok, it should be fixed in the v3.4.1
If the problem is still there, feel free to reopen this issue.

[2017-12-03 10:34] #55 closed

[2017-12-03 10:34] wildskyf commented on #44
it should be right in the v3.4.1

[2017-12-03 10:34] #44 closed

[2017-12-03 10:35] wildskyf commented on #53
ok, html tags will not appear in the summary section.

[2017-12-03 10:35] #53 closed

[2017-12-03 10:36] #52 closed

[2017-12-03 10:38] wildskyf commented on #48
@rayman89, now you could go to options page in the [about:addons](about:addons), and find your fast access popup back. :)
and, feel free to reopen this issue if you still have problems. :)

[2017-12-03 10:38] #48 closed

[2017-12-03 11:16] wildskyf commented on #54
ok, I have solved it.
It will not happen in the latest version, v3.5.0.

I will close this issue when v3.5.0 is released.

[2017-12-03 11:20] #54 closed

[2017-12-03 15:39] rayman89 commented on #48
thanks a lot

[2017-12-03 15:57] wildskyf commented on #41
Hi all,
#54 seems to be similar to this issue, and I also found the problem is the `onfocus` and `onblur`.
I have replaced it with `addEventListener`, so please help me to check whether this issue is still there. thanks!!

[2017-12-04 04:26] puxlit commented on #41
Can confirm your changes have resolved the conflict with New XKit. :)

[2017-12-04 10:23] mhartung commented on #54
Awesome. :)

[2017-12-04 12:33] borama commented on #41
Just tested on our company Trello and so far everything looks good with Textarea Cache 3.5.0! Thanks! 👍

[2017-12-04 12:51] FelixSchwarz commented on #41
This works for me as well so I'm closing the ticket now. :-)

[2017-12-04 12:51] #41 closed

[2017-12-04 15:48] wildskyf commented on #41
Great, feel free to reopen or raise another issue if you found any other problems!

[2017-12-05 08:25] wwqq33 opened #56 "i18n"
求中文语言包支持[Seeking Chinese language package support]

我不认识英文，求增加中文语言包。
I do not know English, I hope to increase the Chinese language packs. Google machine translation of English

[2017-12-05 08:53] wildskyf commented on #56
好，等我～～～
我週末若有空就會弄，不然就到下週末了！

[2017-12-05 08:54] wildskyf opened #57 "review in Amazon not recorded"
I didn't buy anything on Amazon, could someone help me?

[2017-12-05 10:17] wildskyf opened #58 "think about _.debounce to reduce io access, improve performance"
https://lodash.com/docs#debounce

ref: https://vuejs.org/v2/guide/computed.html the watcher example

[2017-12-05 23:51] awendland commented on #51
I've had this issue occur several times for me in FF 57 prior to having the add-on installed. I wonder if this is actually the add-ons fault, or if this is a general FF bug.

[2017-12-07 01:33] wwqq33 commented on #56
好的 谢谢 @wildskyf

[2017-12-07 03:37] wildskyf commented on #51
I found that I still have this problem when textarea cache is disabled. So maybe this is a general FF bug. Thank you @awendland

[2017-12-07 03:37] #51 closed

[2017-12-07 12:39] wildskyf commented on #56
v3.6.0 開始支援中文！

https://github.com/wildskyf/TextareaCache/blob/master/_locales/zh_CN/messages.json
歡迎建議更好的文字 :)

[2017-12-07 12:42] #56 closed

[2017-12-07 13:23] wildskyf commented on #30
v3.7.0 應該就會動了，剛剛才發現我之前寫的 Code 莫名消失了（不然就是我以為我有寫XD）

[2017-12-07 13:25] wildskyf commented on #24
Hi @ayodio,

Does this problem still happen in the latest version (> v3.6.0) ?

[2017-12-07 13:55] wildskyf commented on #30
@lilydjwg v3.8.0 上線了，再麻煩你試試看！

[2017-12-07 14:23] wildskyf opened #59 "Test"
I need a test system to ensure that my code is ok when updating...

[2017-12-08 07:30] lilydjwg commented on #30
可以了，谢谢！ 👍

[2017-12-08 07:30] #30 closed

[2017-12-13 13:16] #49 closed

[2017-12-20 06:34] Gitoffthelawn opened #60 "v3.9.0 broke it"
Everything worked perfectly until v3.9.0 on FF v58.0beta12 (Windows 7).  Now clicking on "View your saved data (Textarea cache)" does not do anything.

[2017-12-20 07:15] wildskyf commented on #60
Hi @Gitoffthelawn ,
you could downgrade old version textarea cache here:
https://addons.mozilla.org/zh-TW/firefox/addon/textarea-cache/versions/

Do you mean the toolbar one(right, colorful) or the urlbar one(left, black and white)?
![2017-12-20 15 14 54](https://user-images.githubusercontent.com/6042803/34195451-8efed710-e598-11e7-8724-3492a84e2b71.png)

[2017-12-20 07:16] wildskyf commented on #60
And before you downgrade, could you please restart firefox and see whether it still happen?

[2017-12-20 07:25] Gitoffthelawn commented on #60
I mean the toolbar one, but I keep it in the overflow menu (double-right-chevron on the right-end of the toolbar).

I tried restarting the browser, but did not help.

[2017-12-20 13:08] wildskyf commented on #60
@Gitoffthelawn Could you please provide your setting in the preference page of Textarea Cache?
And try to modify them, and see whether it still happens?

[2017-12-20 13:17] wildskyf commented on #60
I thought I found the problem, please wait for the v3.9.1 release, which will fix the problem for you. :)

[2017-12-20 13:24] #58 closed

[2017-12-20 13:24] wildskyf commented on #58
I think the performance issue is not caused by user typing.

[2017-12-20 16:52] Gitoffthelawn commented on #60
v3.9.1 fixed it.  Great job!  Thanks! :)

[2017-12-20 16:52] #60 closed

[2017-12-23 06:08] wildskyf commented on #33
Hi @ceribik
I have implemented it in the version 3.12.0, you could try it. :)
If you think the confirmation message is really annoying, you could go to option page of Textarea Cache and check `Skip Confirm When Paste From Context Menu`

If you have any other problem, feel free to reopen this issue or open another one.

[2017-12-23 06:33] #33 closed

[2017-12-23 06:42] leo424y commented on #57
<img width="1440" alt="screen shot 2017-12-23 at 2 40 28 pm" src="https://user-images.githubusercontent.com/1384394/34317711-6e8657ca-e7ef-11e7-8fe3-9b867241af14.png">
Here is my review test. It seems works.

[2017-12-23 06:43] wildskyf commented on #57
@leo424y thanks a lot!!

[2017-12-23 06:43] #57 closed

[2017-12-27 03:29] lilydjwg opened #61 "Order by time desc"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: Arch Linux
* Firefox version: 59.0a1 (2017-11-29) (64 位)
* TCL version: 3.12.0

目前显示的是按时间正序排列的，但一般打开列表页面，都是找刚刚输入过的内容的吧，所以倒序会更好一些。

PS: 更新里没写说明啊，经常更新但是不知道更新了什么。
PPS: 上边的 TCL 让我一愣，还以为是问我系统上安装的 tcl shell 的版本……
PPPS: GitHub 项目主页那个链接，可以把「en-US/」去掉，这样会跳转到用户在火狐里指定的语言。

[2017-12-27 03:37] wildskyf commented on #61
感謝回報，

我一直想讓他倒序，我在某個 function 中做了，但沒反應 ~.~
下次有大塊時間時來查

PS-res: 我打算開一個頁面來寫 changelog，之後更新時就會寫更新了什麼～
PSS-res: 以前叫 Textarea Cache Lite，所以才簡寫 tcl，等等去把它改成現在的全名
PSSS-res: 好，感謝建議！

[2017-12-31 08:10] wildskyf opened #62 "i18n in option page"

[2017-12-31 10:28] #62 closed

[2017-12-31 10:29] wildskyf commented on #61
v3.13.0 應該會是倒序的了～再麻煩你幫我測測看囉！

[2017-12-31 10:30] lilydjwg commented on #61
我不知道是不是倒序了，因为都是「Invalid Date」……

[2017-12-31 10:31] wildskyf commented on #61
WTF... 我去看看⋯⋯

[2017-12-31 10:33] wildskyf commented on #61
奇怪，可以麻煩你幫我截個圖嗎@@

[2017-12-31 10:34] lilydjwg commented on #61
![textcache](https://user-images.githubusercontent.com/440661/34460971-40c7443c-ee59-11e7-8f62-546e2b0d00cc.png)

[2018-01-01 15:44] DirkSchmitt commented on #61
**Please provide (minimal) bug description in English as *Lingua Franca* to avoid duplicated bug reports.**

Is this bug concerning a reverse time ordering of the text entries ?

[2018-01-01 15:52] lilydjwg commented on #61
@DirkSchmitt yes. A minimal description is there (the title).

[2018-01-03 19:29] lapineige commented on #18
This would be a great addition :)
For the time, maybe it can also be configured in hours/minutes, for instance for privacy reasons.

[2018-01-03 19:32] lapineige opened #63 "Add encryption support for the text saved."
It would be nice to add encryption support (for instance with Firefox's Master Password ?), because the cached text can leak a lot of information.
Auto-clearing the cache (as in #21 #18) can also protect the user, but in another way (and both can be combined).

[2018-01-04 03:10] wildskyf commented on #63
Hi @lapineige,

Thanks for raising this idea. It is a good-to-have feature.
I will think how to implement. And it would be a configurable function.
It might make its performance worse, after all, encryption need time.

But I think my users do need this, thanks a lot!

[2018-01-04 06:29] waldens opened #64 "[Feature Request] 列表改成“倒序”"
Win7 FF57.0.2  TextareaCache3.13.0

谢谢作者，制作这个工具。很方便。小建议：
用倒序，是不是更好？毕竟，多数时候，打开Textarea Cache，都是寻找“刚刚”丢失的文字，而不是“几天前”的文字
现在的设计，要拉到最底下，才能找到刚刚丢失的文字

![](http://onuia4d7l.bkt.clouddn.com/2018_01_04_20180104143412.png)

[2018-01-04 23:03] lapineige commented on #63
I had this in the previous extension (Lazarus) I used for that.

Cool :)

It's just a small piece of text, I don't think it will be noticeable.

Thanks for your work on this extension :)

[2018-01-13 02:09] bendover22 commented on #61
I see the same problem.  Before Nov. 16, 2017, TAC shows all entries "Invalid Date."  It's now Jan, 12, 2018.
I'm using Fx 52.5.3 ESR, in Mint 18.1 64 bit.
So the bulk of save text entries show invalid dates.  The Invalid Date entries do show the URL & the 1st line of text.

Also, the order of saved entries is the reverse of what most users would need (probably already mentioned).
The oldest are l

[2018-01-13 02:35] bendover22 commented on #16
Today is the 1st time I tried deleting any entries.  It's not deleting any for me.
TAC 3.13.0, Using Fx 52.5.3 esr in Mint 18.1 64 bit.
Select 3 or  4 consecutive entries - showing on the monitor.  Delete Selected Cache doesn't work.
Select 10 or 15 consecutive entries - won't delete.
Select some entries w/ "Invalid Date" - won't delete.
Select some entries w/ proper dates - won't delete.

[2018-01-13 02:55] bendover22 commented on #44
What am I missing?  In TAC 3.13, I don't see any way to sort text entries - anywhere.
Not from the toolbar icon; not R-clicking the saved data screen; not from Addons Manager prefs.
In v3.13, is there supposed to be some sorting feature?

[2018-01-13 03:10] waldens commented on #64
没注意，重复汇报了
#61

[2018-01-13 03:10] #64 closed

[2018-01-13 03:14] bendover22 commented on #18
I don't know what the "date API" allows, so I'm not sure what to suggest.
If it will allow entering specific dates, that would be great.
If it only allows entering, "Delete older than last 1 / 2 / 3 weeks", then perhaps, "Delete last 1 / 2 or ... months"
Hopefully something where anything older than n weeks or n months is deleted.
I have no need to store months of entries.  (As of now, I can't del

[2018-01-13 03:23] bendover22 opened #65 "Feature request: method to close currently viewed entry"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: (e.g., Fedora 26)
* Firefox version: (e.g., Firefox 56.0)
* Textarea Cache version: (e.g., 2.5.0)

Optional:
* step to reproduce the problem.
* other descript you want to tell me. :)
Would there be an easy way to close the currently expanded text entry?
Now the only way to close an entry is open an

[2018-01-13 11:18] wildskyf commented on #61
I just update a new version, which would solve the delete bug and Invalid Date problem.
Please help me test, thx!

[2018-01-13 11:20] wildskyf commented on #61
後來發現更新新套件時，AMO 上有個可以填版本更新的欄位，但在 US 之外的語言下有問題（textarea 框顯示不出來），在我弄出一個版本更新 board 之前我會先寫在那裡～

如果跳了版號，也可以來這兒看 update log
https://addons.mozilla.org/zh-TW/firefox/addon/textarea-cache/versions/

[2018-01-13 11:26] lilydjwg commented on #61
对，amo 有这么个 bug： https://github.com/mozilla/addons-server/issues/4599

我把旧数据清掉了再试了试，暂时没有发现问题了。

[2018-01-14 05:12] wildskyf commented on #16
@benddover22 @gitoffthelawn do you still have problem when you are deleting cache? (with the latest Textarea cache?)

[2018-01-14 18:49] Gitoffthelawn commented on #16
@wildskyf It works for me, but it sounds like @bendover22 might be having an issue.

[2018-01-17 16:16] lilydjwg commented on #33
I don't like this one. It makes my context menu very wide.

[2018-01-17 16:21] wildskyf commented on #33
@lilydjwg  Oh... I forgot to add an option for it.
I will add it this weekend!

[2018-01-17 16:21] wildskyf opened #66 "Context Menu Config"

[2018-01-20 14:55] wildskyf commented on #33
@lilydjwg I have added the option for disabling this feature.
I should be 'enable context menu' by default.
Feel free to uncheck it in the preference page.

[2018-01-20 14:55] wildskyf commented on #33
ref #66

[2018-01-20 14:55] #66 closed

[2018-01-20 14:57] wildskyf opened #67 "Fix for 'Invalid Date' got some problem"

[2018-01-20 14:58] #38 closed

[2018-01-20 14:59] wildskyf commented on #16
@bendover22 If you still have problem about this issue, feel free to open and comment!

[2018-01-20 14:59] #16 closed

[2018-01-20 16:21] lilydjwg commented on #33
I see 👍

[2018-01-20 20:20] Oldbutnotout opened #69 "Doesn't work on some sites"
I am using FF 57.0.4,and Windows 7 Home Premium,and Textarea Cache vers. 3.15.0  I tried asking a product question on  https://cascadeclean.com/en-us/contact-us ,but lost the text somehow. I opened the Textarea cache,but the info I typed was not there! What is going on? Thanks

Required:
* System OS: (e.g., Fedora 26)
* Firefox version: (e.g., Firefox 56.0)
* Textarea Cache version: (e.g., 2.5.0)

[2018-01-21 13:58] wildskyf opened #70 "I18N for message in Preference page"

[2018-01-26 20:15] bendover22 commented on #16
Not sure.  What's the latest version? :)  If it seems like a good idea, when a problem / attempted fix spans several releases, we could all state which version specific comments apply to?

I see in v3.15, it seems to correctly delete selected entries (limited testing).

Only now (3.15) EVERY entry has changed to show the same time stamp 1/26/2018, 1:28:27 PM.
But they were created over days or wee

[2018-01-28 05:16] wildskyf commented on #16
Hi @bendover22

But they were created over days or weeks, not one day.

yeah, it is a known issue, we could discuss it at #67.

You might need this: <https://addons.mozilla.org/en-US/firefox/addon/textarea-cache/versions/>
I currently use this page as the changelog of Textarea Cache. I will add it to readme later so that you could easily access this page.

[2018-03-26 04:26] bendover22 commented on #67
Has there been any progress on the date being identical on all saved entries, down to the same second?
Don't the new webext APIs have a time API?  Is it no longer possible for a program to read the computer's clock?
Having the correct time hasn't been a huge issue for me - yet, but I can see how it could become one.
Better days ahead!

[2018-03-26 04:58] bendover22 opened #71 "Not enough window size adjustment ability"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: Mint 18.1
Firefox version: 52.7.2esr
* Textarea Cache version: 3.17.0

Optional:
*Open the Text Area Cache icon / window.
*The lower message pane  is fairly short - vertically.  That's OK for short messages.  Scroll bars do appear if the message is longer than the display pane - that's good.  Somet

[2018-03-26 05:24] bendover22 opened #72 "Several posts on same site show identical text"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: mint 18.1
* Firefox version: 52.7.2esr
* Textarea Cache version: 3.17.0

Optional:
* I posted a bug on mozilla bugzilla.  I only posted one text post, but had to go back & edit, before it would allow uploading > 1 attachment.
* Now, it shows 3 separate TACL entries & the initial display when open T

[2018-04-04 18:46] rugk opened #73 "Console error: Promised response from onMessage listener […] went out of scope"
Via `about:debugging` I found that this add-on yields these errors really much:

[code]

![grafik](https://user-images.githubusercontent.com/11966684/38323415-77e7fac8-383d-11e8-8448-fbcbd14eb00a.png)

* System OS: (e.g., Fedora 27)
* Firefox version: (e.g., Firefox 59)
* Textarea Cache version: (e.g., 2.5.0)

[2018-04-17 00:33] bendover22 opened #74 "Question: where are the version changes_don't see any on AMO"
Required:
* System OS: (e.g., Fedora 26)
* Firefox version: (e.g., Firefox 56.0)
* Textarea Cache version: (e.g., 2.5.0)
Mint 18.1; Firefox 52.7.2 x86_64
TACL 3.19.5

Where are the changes for each TACL release, as mentioned on this Github site?
I see a long list of versions on AMO, but no changes or links to change logs.
Don't see changes by version on this Github site, either.
If we can't see a

[2018-06-04 02:59] wildskyf opened #75 "Gmail duplicate save cache"
Required:
* System OS: Mac
* Firefox version: 60.0.1
* Textarea Cache version: 3.19.5

Because autosave in gmail.com would change the url, so textarea cache would create it as a whole new cache, which means the cache list will be filled by gmail draft. This problem should be fix.

[2018-06-10 07:22] wildskyf opened #76 "change 'show' btn in list page to 'copy'"

[2018-06-10 07:29] wildskyf commented on #74
Hi @bendover22

Thank you fir your kind question. And here is the answer you are looking for: https://addons.mozilla.org/firefox/addon/textarea-cache/versions/ , which is also the page you mentioned in your question.

Actually, there is no change log information in that page is because I don't know weather my users care and also... I am too lazy... (Sorry about that). ;P

I will write the changes

[2018-08-27 17:42] JoseHidalgo opened #77 "Doesn't work anymore"
Hi,

* System OS: Windows 7 SP1 x64
* Firefox version: latest (61.0.2)
* Textarea Cache version: latest (3.20.0)

Just doesn't work anymore:
- When I click on the Textarea Cache icon, nothing happens (so either nothing is saved, or I can't access it anymore)
- Nothing appears in the contextual menu, even with the option checked under Textarea Cache options
- If I try to delete the add-on via Firef

[2018-08-28 02:48] wildskyf commented on #77
hmm... I think there might be something wrong in your Firefox profile because add-on doesn't have the permission to prevent you remove themselves.

Please open a new profile, and install it, and then see weather it works.

[2018-08-28 02:49] #76 closed

[2018-08-28 02:53] wildskyf commented on #61
good.
This bug should have been solved in v3.15.0.
Feel free to reopen this issue or open another issue if you still have any question.

[2018-08-28 02:53] #61 closed

[2018-10-04 10:23] birdie-github opened #78 "Make the data save interval configurable"
I'm not sure I've read the sources correctly but I've noticed that the data save interval is hardcoded and it's 2 seconds. 2 seconds might be detrimental if you're editing a large text and you have an SSD disk.

Please, expose this interval in add-on settings and let the user configure it (in milliseconds).

Allowing the user to enter "0" is probably not a good idea.

[2018-11-08 03:20] Hypexed opened #79 "Clipboard copy has HTML tags in text"
Hi. I have noticed for a while now that it has changed behavior. When I ever I try and copy the text has HTML tags embedded in it. This happens on Facebook. Is this a Facebook related thing?

Required:
* System OS: Linux Mint x64
* Firefox version: Firefox 62.0.3
* Textarea Cache version: 3.20.0

[2018-11-08 03:28] wildskyf commented on #79
hmm, it might be because Facebook starts to support rich text...

I didn't face that problem, maybe I should check it later

[2018-11-12 02:03] bendover22 commented on #77
I noticed it had not saved anything for weeks.  I installed the latest version 3.20 into Fx 63 in a new profile (for Quantum).  I just uninstalled it & downloaded & reinstalled - same version.
Same result:  "No cache here" while I'm typing this.  If it won't work on Github, then I'm not sure.
But, now I seemed to have found the problem - which is more of a problem than TAC not saving.

It apparent

[2018-11-12 12:00] wildskyf commented on #77
@bendover22 I just install [ublock origin](https://addons.mozilla.org/firefox/addon/ublock-origin/) and check the 'not allow web script' (the last item in the photo below)

<img width="1265" alt="2018-11-12 19 57 43" src="https://user-images.githubusercontent.com/6042803/48346230-6f905880-e6b5-11e8-9797-4c994bdb99ee.png">

But I could still save text at <https://wildskyf.github.io/test/textarea.ht

[2018-11-18 21:29] bendover22 commented on #77
Thanks again!  The language on your image is not one I read.  :)
I assume you mean in uBlock Origin - English equivalent, under Settings, you checked "Disable javascript?

Like you, once logged into Github.com *just now*, I  block all domains showing in NoScript or uBo, and TAC kept saving typed text.
But I assure you, the other day, it didn't save any text on Github until... I allowed  "Githubapp

[2018-11-28 08:42] tuxayo opened #80 "[Suggestion] Add confirmation for Delete All button"
Or making rollbackable. Like moving everything into a temporary that will get cleaned on next startup.

Aim: avoid misclick dramas ^^"
(In my case, luckily nothing precious seems to have been lost)

[2018-12-01 23:48] bendover22 commented on #77
Checking in - recent observations.  It seems to be working generally - the few times I've needed it.
I don't know why I even type in most sites' editors - it's asking for a headache. :)

It's possible on some sites, certain scripts must be allowed - if any are blocked.
Last week or so I said it didn't save when I was typing here on Github & that was true.

As a test, today after logging in, I disa

[2018-12-01 23:53] bendover22 commented on #74
One reason change logs can be useful is after an update, if problems start, knowing what changed in different addons may give some clue what's causing it.  Sometimes not, but it's better than having no information.

[2018-12-16 19:34] tuxayo opened #81 "Does work on M"
### Step to reproduce the problem
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea
- type something in the text area
- go to TextareaCache
- see that nothing can't be found about previously input text

### Context
* System OS: Antergos (Arch Linux)
* Firefox version:
  * Firefox dev edition: 65.0b3 (64-bit)
  * Firefox 60.4.0esr (64-bit) clean profile
* Textarea Cache version:

[2018-12-22 06:56] lilydjwg commented on #36
Hi there, I finally find that this extension is the cause of a performance issue with MediaWiki's VisualEditor. However I didn't reproduce it with Wikipedia, only with my local wiki.

[2019-01-27 12:31] wildskyf commented on #18
Hi all, I have implement the auto clear feature at version 4.1.1.

By default, auto-clear is set to disable, you could enable this feature in the option page.

[2019-01-27 12:36] wildskyf commented on #78
Hi @birdie-github,
you could configure it in the option page.

<img width="748" alt="2019-01-27 20 34 37" src="https://user-images.githubusercontent.com/6042803/51800994-090de600-2273-11e9-9309-ccb076a3a8ac.png">

Feel free to reopen issue if you still get any problem.

[2019-01-27 12:36] #78 closed

[2019-01-28 06:47] wildskyf commented on #18
Hi @Gitoffthelawn thx for your asking.

AutoClear will remove cache, which is saved for a certain time.

For example, here are 3 caches, they were saved
A) 10 min ago
B) 10 day ago
C) 10 month ago

if you set the auto clear time to 1 min, they will be all clear when the checker are triggered.
if you set the auto clear time to 50 day, cache B & C will be removed, but A will not. (but it will be rem

[2019-01-28 20:47] Gitoffthelawn commented on #18
Thanks @wildskyf !

That sounds great.

I think there is one mistake in the example.  It says:
_"if you set the auto clear time to 50 day, cache B & C will be removed, but A will not. (but it will be removed when its saved time become 50day ago.)"_

I think you meant:
_"if you set the auto clear time to 50 day, cache C will be removed, but A and B will not. (but they will be removed when their sav

[2019-01-28 21:21] Gitoffthelawn commented on #81
I think WebExtensions will not work on mozilla.org.  This was a Mozilla decision.

[2019-01-28 21:21] Gitoffthelawn commented on #74
I appreciate your changelogs!

[2019-01-28 21:24] Gitoffthelawn commented on #80
Maybe make it an option?

I respect your idea, but personally I prefer not to click on "Are you sure?" in this case.

[2019-01-30 07:34] wildskyf commented on #18
"if you set the auto clear time to 50 day, cache C will be removed, but A and B will not. (but they will be removed when their saved times become 50day ago.)"

YES! That's what I mean! Sorry for the confusion. :)

Checker will be triggered when browser startup and once every minute.
Let's see whether there is any performance issue, I think there will not be.
(After all, it is recommended implement

[2019-01-30 18:41] Gitoffthelawn commented on #18
:-)

If "auto clear old cache" is *not* checked, is the checker still triggered, or does the check not take place at all?

[2019-02-06 16:10] wildskyf commented on #18
The checker function will be called,
but it will early return when that "auto clear old cache" is not checked.

the code of related checker is at here:
https://github.com/wildskyf/TextareaCache/blob/master/ta_bg.js#L220-L247

[2019-02-07 08:46] Gitoffthelawn commented on #18
Thanks for the link to that section of the code. :+1:

Would it be possible to not call the checker at all in that case?

[2019-02-11 02:49] wildskyf commented on #18
Yes, it's possible, I could add/remove listener as long as user toggle the auto-clear option.
But this might cause code more complicating.

I think an early-returned function might not cause expensive performance issue too much, so I prefer observe for a while. If there does be any performance issue, I might consider to change the current state of code.

and, Pull Request Welcome. ;P

[2019-02-17 18:22] Gitoffthelawn opened #83 "Allow access to options from dropdown panel when cache empty"
When there is text in the cache, it's easy to access TextareaCache's options panel from it's toolbar button dropdown (hit the cog icon).  But once the user empties the cache, the cog icon disappears.  Can you make it visible in all cases?

[2019-02-18 02:06] wildskyf opened #84 "i18n for Deutsch"
[german.txt](https://github.com/wildskyf/TextareaCache/files/2921811/german.txt)

credit to Bernd Schandl

[2019-02-18 02:09] wildskyf commented on #18
Currently, the auto-clear feature is implemented, so this issue could be close.

[2019-02-18 02:09] #18 closed

[2019-02-18 02:10] wildskyf commented on #83
yeah, I will fix it for version 4.2.0
thanks for the issue. :)

[2019-02-18 02:12] #74 closed

[2019-02-18 02:13] wildskyf opened #85 "chrome version"
support chrome

[2019-02-18 02:14] wildskyf opened #86 "context menu"
Sometimes, context menu will disappear.

[2019-02-18 03:13] Gitoffthelawn commented on #83
Thanks!

[2019-03-02 08:55] wildskyf commented on #67
I found that I was using Date object as an attribute of saved cache, maybe it is the criminal of invalid date.
I will update it in the version 4.2.0. and let see whether this problem will be solved...

[2019-03-02 08:58] #84 closed

[2019-03-02 08:59] #83 closed

[2019-03-02 09:15] wildskyf commented on #85
submitted. reviewing.

[2019-03-07 23:45] bendover22 opened #87 "Previous TACL version didn't show any entries; V4.2.1 shows same date_all entries"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
Linux Mint 18.1
Fx 65.0.1 64bit
TACL 4.2.1 (Mar. 6, 2019)
Optional:
* step to reproduce the problem.
* other descript you want to tell me. :)

The TACL version BEFORE 4.2.1 wasn't showing any saved entries, that would've been from several sites, including Github.  The popup window was blank where saved entries

[2019-03-08 00:45] bendover22 commented on #87
I created a clean profile & installed a fresh download of TACL 4.2.1.
Copied TACL's s storage.js to new profile.

It still shows older entries - made under 4.2.0, all with same date = 12/31/1969, 6:00:02 PM.
It still shows entries saved under v4.2.0 with multiple, identical copies.
Didn't really expect it to display the database any differently, but gave it a shot.

I could understand if each dupl

[2019-03-08 01:11] bendover22 opened #88 "Not a bug. A few UI suggestions"
Minor UI suggestion & an unrelated question.

In v4.2.1 preferences, on my desktop installation, preferences labels have at least 29 - 30 available spaces on one line.  Plenty of room.  Not sure about on mobile or small screens.
Instead of the label, "Popup what to show list" (an unusual way to word it);
Maybe: "Show popup list in a new:"
Or, maybe better:  "Show saved text entries in a new:  "  [

[2019-04-02 08:45] 4evermaat opened #89 "Update project homepage with Chrome version link"
Can you update the [project homepage](https://github.com/wildskyf/TextareaCache) with the Chrome link?

https://chrome.google.com/webstore/detail/textarea-cache/chpphekfimlabghbdankokcohcmnbmab

Also you should edit your bug template to ask the user for Chrome or Firefox browser.

[2019-04-02 08:47] 4evermaat commented on #85
1) can you confirm that this link is in fact yours and not some malicious person cloning the project?  I think people need to be sure it comes from the original maker of the firefox version.

2) Can you update the homepage with the Chrome link?   See #89

[2019-04-08 02:26] wildskyf commented on #89
@4evermaat Sure, and thx for your suggestion.

[2019-04-08 02:28] #85 closed

[2019-04-08 02:28] #89 closed

[2019-04-19 01:31] wildskyf opened #90 "Remove useless permission"

[2019-04-19 01:33] wildskyf commented on #88
lite list is a legacy feature. XD
I will remove it sooner. :)

[2019-04-21 08:31] #90 closed

[2019-07-31 10:04] Johann-Tree commented on #80
I would really appreciated it! I accidentally clicked on Delete All and everything went away! :(
Where stores the extensions it's saved information - file path? Hopefully I can grab that file from a backup.

Thanks!

[2019-07-31 11:38] wvxwxvw opened #91 "Non working functions and Russian translation"
Thank you for the indispensable addon.

System OS: (e.g., Windows 8.1 x64)
Firefox version: (e.g., Firefox ESR x64 68.0.1)
Textarea Cache version: (e.g., 4.2.1)

1. No icon in navbar
2. No item on the contextual menu (if it should be there at all)

Please fix it.

Russian language
[ru.zip](https://github.com/wildskyf/TextareaCache/files/3451496/ru.zip)

[2019-08-02 15:22] wvxwxvw commented on #91
I'm sorry. There is an icon in the context menu. I did not understand that we are talking about a text field.

But in the navbar no.

[2019-08-03 08:56] wildskyf opened #92 "Support Russian language"
[The language file: ru.zip](https://github.com/wildskyf/TextareaCache/files/3451496/ru.zip)

[2019-08-29 00:17] bendover22 commented on #29
On Github, I couldn't post the one above this, unless "Cosmetic Filtering" (the icon at menu bottom, looks like a sideways (American) football.  If cosmetic filtering was on, got msg, "sorry, you can't post right now," when I submitted - no explanation why.

When I disabled cosmetic filtering, it took it.  I'm assuming that was the reason & not that the site / server was too busy at the moment?
Th

[2019-10-04 18:30] goozak opened #93 ""Source map error" message in Console"
Getting this message in the Console:
[code]

I'm not trying to debug Textarea Cache.  The extension is working fine, it's just annoying when I work with the Console.

Required:
* System OS: Windows 10
* Firefox version: 69.0.1
* Textarea Cache version: 4.2.1

[2019-10-04 19:00] goozak commented on #93
Seems to have been a Firefox issue — message no longer appearing in FF 69.0.2...

[2019-11-08 18:38] davidebaldini opened #94 "Context menu absent"
Required:
* Firefox version: 60.9 esr
* Textarea Cache version: 4.2.1

The context menu does not appear when right-clicking on an empty HTML textarea nor anywhere else on a page, despite the addon's option "show context menu" is set and multiple stored entries are visible from the addon's toolbar button.

[2019-11-20 23:20] goozak commented on #93
So, I figured that the error shows up when I'm debugging a local web site, on http://localhost
Unfortunately, that is precisely when I look at the console...

[2019-12-27 01:37] bendover22 commented on #71
You should close this - I guess.  It's no longer a problem for me, unless others still have this issue.  Wanted to check before I hit "closed."
Maybe in other OSes or diff Linux distros than Mint?

[2019-12-27 01:53] bendover22 opened #95 "Not deleting messages older than time set in preferences"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
*Mint 18.1
* Firefox version: 71.0
* Textarea Cache version: 4.2.1

Optional:
* set auto clear old cache to something like 14 days (as I have).
* Make sure the box is checked on the "auto clear" line in prefs.

It's not deleting any old messages, that I can see.
I've got messages from 12/26/19 back to March 2,

[2019-12-27 02:07] bendover22 opened #96 "Question: is it confirmed that *no* addons work on Mozilla sites?"
/* Thanks for your report! Please provide these info when you found bugs. */

If absolutely no addons work on any Mozilla sites, it'll be kind of hard to remember to write messages in another app.

This wouldn't help every TAC user to avoid losing posts on Mozilla sites, but is it possible to dim the icon or turn it red & flashing if it can't save entries on particular sites?  Or some notification

[2019-12-30 03:36] wildskyf commented on #71
thx!
If you no longer face this problem, we could happily close this issue.

If there is anyone who has this problem, please re-open it. :)

[2019-12-30 03:36] #71 closed

[2020-02-02 02:37] DeronLJ commented on #94
Same here with Firefox Version 72.0.2. Perhaps the same as Issue #86 (except the context menu seems to _always_ disappear).

[2020-03-07 13:37] to-easy2020 opened #97 "what happened? I don´t care !"
* System OS: WIN10 32 bit
* Firefox version: Firefox 73.0.1
* Textarea Cache version: 4.2.1

first of all thank you for the plugin - its wonderful!
as mentioned before, it was out of function for a while. I have uBlock origin and checked JavaScript _"off"_ - **all the entries of the last year** were back again, also the entries in preferences. (missing before) This was my first intention to write

[2020-04-14 11:53] Gitoffthelawn commented on #94
I can confirm in Firefox 75.0.0.

Here's the error from Firefox's remote debugging console:

[2020-04-14 11:57] Gitoffthelawn commented on #94
I'm experiencing some instability in Firefox 75.0.0, and my debugging logs show that this *could* be one of several different issues responsible.  Not conclusive, however.

[2020-06-15 17:37] jeff-zone opened #98 "Summary search abilities"
Is there a way to search the summaries of entries?  If not, a regex search feature for the the filter URL box that also searches summaries would be really helpful.

Much appreciated,

Jeff

/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: (e.g., Fedora 26)
* Firefox version: (e.g., Firefox 56.0)
* Textarea Cache version: (e.g., 2.5.0)

Optional:

[2020-06-16 01:49] wildskyf commented on #98
in my opinion, it is not enough to just search summary,
it is better to search full content of caches

[2020-06-16 22:00] jeff-zone commented on #98
agreed!

On Mon, Jun 15, 2020 at 8:50 PM wildsky <notifications@github.com> wrote:

[2020-06-26 01:27] B00ze64 commented on #96
If you add the following to user.js (or you make the change in about:config) you can run extensions on AMO:
[code]
Note that the 2nd one might not be needed, and you can edit restrictedDomains to retain stuff other than AMO if you want.

Regards,

[2020-06-26 01:31] B00ze64 commented on #94
I was wondering if I was the only one not seeing any context menu, lol, looks like I'm not, not that I really miss it, I was just mostly curious, I never used it in the XUL extension (was there a context menu?)...

[2020-09-14 21:46] tuxayo commented on #80
@Gitoffthelawn

Which could be an option? Adding a confirmation button or making the delete rollbackable for the rest of the session?

[2020-10-23 15:14] byzod opened #99 "It's not working at all"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: Windows 10  1703
* Firefox version:  82.0b9
* Textarea Cache version: 4.2.1

Optional:
Try to type something on github issue textarea for 20 seconds while set textareacache to cache every 1000ms, nothing shows when I hit the button, it said "You haven't have any cache" or something

[2020-10-26 02:35] Gitoffthelawn commented on #80
@tuxayo I think making it "rollbackable" for the rest of the session will involve significant code changes, so I think an option to include an "Are you sure?" message box will be more likely.

[2020-11-10 17:11] Kissaki commented on #93
Very annoying indeed.

The file at fault is `browser-polyfill.min.js`, which references `browser-polyfill.min.js.map` which is not included in the addon.

I also noticed that there is a version mismatch between the src and min files in this repository root - v0.4.0 vs v0.3.1. This has always been the case since they were added in d5370f00dce263724e2b96b7935ad6afdb2f23f5.

It looks like both have b

[2020-11-12 14:20] laur89 opened #100 "Text from title input boxes not saved"
textareacache v: unsure, but automatic updates are enabled
firefox: 82
OS: Win 10

**repro**
1. Start writing [a github issue](https://github.com/wildskyf/TextareaCache/issues/new)
1. enter both the title and the body
1. verify only body is stored - title is not

[2020-12-07 06:41] Saadish opened #101 "I sent few comments in a page of a website, but only the last comment has been cached"
Half an hour ago, I posted 3 comments on a page of a website in a few minutes, but now I see that only the last comment has been cached by "Textarea Cache".
My other comments in this post in the previous days have been saved (I do not remember well, but probably all my comments).
I have never seen this happen on any website.

* System OS: Windows 10
* Firefox version: Nightly 85 (x64)
* Textarea C

[2020-12-09 01:18] TomatoJoe opened #102 "Not working in FF 83.0 linux"
This is a lifesaver addon, one of the most important productivity tools. However, it no longer works in Linux FireFox 83.0
* System OS: MX Linux 19.3 xfce 64 bit
* Firefox version: Firefox 83.0)
* Textarea Cache version: 4.2.1

* step to reproduce the problem.
Click the menu bar icon, nothing happens. has worked ok up until recently, I could not say at which update the problem started.

[2021-04-15 22:34] McBobb opened #103 "Copying from Cache tab adds extraneous HTML to copied text"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* Windows 10
* Firefox 87.0
* Textarea Cache version: 4.2.1

Optional:
* step to reproduce the problem.

Opening the Text Cache tab to copy a saved entry other than the most recent, and clicking the COPY button to the right of desired entry

* other descript you want to tell me. :)

The text saved to my clipboa

[2021-08-14 05:43] vsrawat opened #104 "not working in FF 66.0.5"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: w8.1
* Firefox version: 66.0.5
* Textarea Cache version: 4.2.1

Optional:
on opening the textarea window, it shows just the url, it doesn't show the "summary" to identify which text is saved, nor shows the below pane where details of that save appear.

On clicking the url shown in first column, tha

[2021-08-20 11:47] affinage commented on #104
it's obvious, but have you tried updating your browser?

[2021-08-20 12:01] vsrawat commented on #104
On 8/20/2021 5:17 PM, affinage wrote:

If it is not to work in my version of ff by design, could you please
tell me to the last released version of textarea cache that was working
in this version.

I will install that and my problem will be solved and you can close this
issue then.

That ends my answer.
--
This part is not relevant to the issue, just answering the question asked.

If you are reall

[2021-08-20 12:02] vsrawat commented on #104
On 8/20/2021 5:17 PM, affinage wrote:

In continuation with my previous reply, I have addition question, that
if new version of textarea cache is not supposed to work with ff 66.0.5,
why and how did the add-on update?

Shouldn't it have stopped right there saying "the new version of add-on
is not compatible with your version of ff" and shouldn't have updated
the add-on?

Thanks.
--
Rawat

[2022-07-10 08:13] HyphenSam opened #105 "Removed from the Chrome store due to malware"
"This extension has been turned off as it's been marked unsafe by the Chrome Web Store."

[The Chrome Store link](https://chrome.google.com/webstore/detail/chpphekfimlabghbdankokcohcmnbmab) returns a 404.

**Edit:** Issue is mostly resolved, but is currently not working for Edge users.

[2022-07-11 08:01] wildskyf commented on #105
Hi @HyphenSam @bsiegel & @jasonhsutuna ,

I have removed useless permission `tabs` and submitted a new version to chrome store.
Textarea Cache will be back soon.

[2022-07-12 05:58] vsrawat commented on #105
I had also been facing the same problem for some 3-4 days. I wrote email to the developer and he guided me to this thread.

So, please add my name also in the people affected.

Glad to see prompt action by the developer to resolve the issue.

Thanks.

[2022-07-12 06:04] vsrawat opened #106 "Edge's "manage extension" page has link to mozilla addons page"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: W11-64 bit
* Browser version: Edge 103.0
* Textarea Cache version: 4.3.0

Edge's "manage extension" page has link to Mozilla addons page for this extension.

That is not the version of this extension that works in edge. It is Chrome web store version.

So, please consider that depending on the type

[2022-07-12 06:13] Gitoffthelawn commented on #105
Why is this issue report entitled "Removed from the Chrome store due to malware"?

A single unneeded permission in the manifest is hardly malware.

Does someone have any evidence that there is any malware at all in this very useful (and open source) tool?  Did Google make a claim about malware?  If neither of these are true, I think the OP owes the generous and talented author a sincere apology an

[2022-07-12 06:22] wildskyf commented on #105
@Gitoffthelawn  Thank you, but the "malware" term is used by google, not the OP.
So OP does not owe me any apology, maybe google does. 😆

And here we have a good news: Textarea Cache is back to Chrome Store!
https://chrome.google.com/webstore/detail/textarea-cache/chpphekfimlabghbdankokcohcmnbmab

Thank you all :)

[2022-07-12 06:23] HyphenSam commented on #105
@wildskyf Thanks, was about to write a response, but glad you've cleared any misunderstandings. Closing this because the issue has been solved.

[2022-07-12 06:25] Gitoffthelawn opened #107 "Update "Developer comments" on AMO to reflect correct GitHub userid"
The [AMO page](https://addons.mozilla.org/firefox/addon/textarea-cache/) currently lists your old GitHub username (ettoolong) in the link in the "Developer comments" section.  It would be good to update that link to reflect your current GitHub username (wildskyf).

[2022-07-12 06:27] Gitoffthelawn opened #108 "Remove tabs permission from Firefox version too"
If the Firefox version doesn't need the `tabs` permission, it would be best to remove it from that version too (in addition to the Chrome version).

[2022-07-12 06:35] Gitoffthelawn commented on #105
@wildskyf Yes, if Google used the term "malware", they definitely owe you an apology (and a bunch of other people too).  Where exactly did they use that term?  Can you post a link and/or a screenshot?

It will make a handy reference so we can all call Google Chrome (and many other Google products) "malware" as they have much greater issues than an unused permission in a manifest file!

@HyphenSam

[2022-07-12 06:39] wildskyf commented on #107
done, and thanks :)

[2022-07-12 06:39] #107 closed

[2022-07-12 06:43] Gitoffthelawn commented on #107
You're welcome.  Verified the update on AMO.  Looks good.

[2022-07-12 06:44] Gitoffthelawn commented on #107
BTW, I noticed https://ettoolong.github.io/test/textarea.html still works without redirection.  Any idea why?

[2022-07-12 07:05] wildskyf commented on #108
ok, done in the new version v4.5.0 just updated on amo. :)

[2022-07-12 07:05] #108 closed

[2022-07-13 00:18] bendover22 commented on #74
Time flies when we're having fun!
Four yrs after 1st asked, & still don't see any release notes / changes.  Not on AMO or Github.
Maybe not everyone reads release notes, but quite a few do.

I don't use 100's of addons but it's hard to remember many that didn't make release notes available - somewhere.
Am I missing something?  In the latest code changes (manifest.json - couple days ago), it shows

[2022-07-13 01:42] wildskyf commented on #74
@bendover22 It is 4.5.0.
I just forgot to git push onto GitHub my commits yesterday...

the v4.5.0 contains these changes:
- Remove tabs permission
- stop using amo link as add-on homepage

And I just add them to version page on amo for v4.5.0: https://addons.mozilla.org/en-US/firefox/addon/textarea-cache/versions/

[2022-07-13 05:46] vsrawat commented on #106
Textarea Cache is back on Google Web store.

However, Edge has no button or setting for updating the add-on manually. It does so automatically as and when it wishes. And as  Textarea Cache has been disabled by Edge, there is no way you can enable or update it.

If you go to Google Web store and try to install it again, it says, "error downloading" or something.

What you have to do is remove the a

[2022-07-13 05:48] vsrawat commented on #105
Textarea Cache is back on Google Web store.

However, Edge has no button or setting for updating the add-on manually. It does so automatically as and when it wishes. And as  Textarea Cache has been disabled by Edge, there is no way you can enable or update it.

If you go to Google Web store and try to install it again, it says, "error downloading" or something.

What you have to do is to remove th

[2022-07-13 06:35] HyphenSam commented on #105
@vsrawat I'm using Edge and have the same issue. It's weird how uninstalling and reinstalling works for you, but not for me. I even tried restarting the browser before reinstalling, and manually updating extensions with "Developer mode" enabled. Right now it's showing up as version 4.5.0.
I installed this extension on Brave and it works fine there, so it's clearly an Edge issue.

I've contacted Ed

[2022-07-13 08:39] Gitoffthelawn opened #109 "Performance Question"
I use a few websites that are slow due to their large number of HTML elements, large number of complex CSS rulesets, extensive use of JavaScript, and frequent XHR requests.

Should adding these sites to TextareaCache's `exception list` result in any performance improvement?

I tried doing this for one of the sites, and didn't notice any difference right away.  Before I run a few performance metric

[2022-07-14 04:27] vsrawat commented on #105
You are right.

Once I had gone through uninstall-install, the addon was showing as
active in my Edge extensions page, (first pic) so I thought it had
started working correctly.

But after some time, it again gave that error message (second pic). You
can see in the pic that it is new version of the addon.

And then onwards the extension remains disabled, as in third pic.

You can see in the fourth

[2022-07-14 05:08] wildskyf commented on #105
Yes, I found that edge still has problem, too... I have submit a temporary version Textarea Cache to Edge store.
(Might not as stable as chrome & firefox version but work) Now we have to wait for the review and publish...

Here is the review submission screenshot:
<img width="739" alt="截圖 2022-07-14 13 04 00" src="https://user-images.githubusercontent.com/6042803/178903209-7f2bec1c-a60d-41cb-930c-

[2022-07-14 05:10] wildskyf opened #110 "Update manifest version from v2 to v3"
The manifest version of Addons on Edge Store should be v3.

[2022-07-14 05:11] wildskyf commented on #110
And there are lots of API are deprecated... Orz

[2022-07-14 05:12] wildskyf commented on #110
Don't know whether Firefox support MV3 yet...

[2022-07-19 00:24] HyphenSam commented on #105
Microsoft Edge Insider Support just responded today saying this extension can now be used in Edge. I installed it now and it works fine. Looks like my settings and history was cleared, but I clear my history regularly so it doesn't matter to me.

@vsrawat can you install and see if it works for you too? If it does, we can close this issue.

[2022-07-20 07:45] vsrawat commented on #105
I also confirm that today onwards the extension is working well in Edge.
Till yesterday it was giving that malware warning and was disabling.

I didn't do anything about it yesterday and today, seems edge's setting
itself removed that malware tag and it is fine again.

My old data is intact, but only after the point when I had repeatedly
uninstalled and reinstalled it from google web store. The da

[2022-07-20 07:49] #105 closed

[2022-08-18 01:43] ikjadoon opened #111 "It does not function on malaysiakini.com"
Required:
* System OS: macOS 12.5.1
* Edge version: 104.0.1293.54 (Official build) (arm64)
* Textarea Cache version: 4.5.0

Optional:
1. Be a registered user of Malaysiakini.com.
3. Open an article's comments and write something. [Example URL used below](https://www.malaysiakini.com/news/632514).
4. Wait any length of time (10 seconds, 1 hour).
5. Open the extension. The URL is not even available.

[2022-09-12 21:14] drcheap commented on #93
It's been a couple of years, and this is still an issue.
Could it be as simple as just adding in the map file?  It can be ([found here](https://unpkg.com/browse/webextension-polyfill@0.3.1/dist/)).

Is this polyfill even needed still after the last few years of browser advancement?  FWIW see that the [official one](https://github.com/mozilla/webextension-polyfill) is up to v0.10.0 now.  If not upd

[2022-10-20 22:11] tsaost opened #112 "Suggestion on content-script TODO: PERFORMANCE ISSUE"
I've tested the code and seems to be work fine, please see if you can use it in your next release.  Thanks.

			function attachEvent() {

				const cacheRule = [
					'textarea',
					'iframe',
					'[contentEditable]',
					'[role="textbox"]',
					'[aria-multiline="true"]'
				].map(rule => (rule + `:not([${SAVE_TARGET}])`) ).join(',');

				attacheEventTimer = null;
				const editables = docume

[2022-11-03 02:03] ryomario opened #113 "Hey, can I just create a whitelist sites?"
I have no idea for this!

[2022-11-24 06:52] aisen0921 opened #114 "Copy with html tags"
/* Thanks for your report! Please provide these info when you found bugs. */

Required:
* System OS: WIN 10
* Firefox version: 107.0
* Textarea Cache version: 4.5.0
*

When options setting use the "windows" to display catch list, the copy link will copy the summary text even html tag but  I want just copy plaintext what I inputted.

[2022-11-26 12:42] soredake opened #115 "sync settings to firefox account"
Required:
* System OS: Windows 11 Pro
* Firefox version: Firefox 107.0
* Textarea Cache version: 4.5.0

Optional:
It will be nice if this addon can sync settings to firefox account https://wiki.mozilla.org/Services/Sync/Addon_Sync